#cardContainer {
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
}
#cardContainer:hover {
	background-color: #0072CE;
    border: none;
	color: white;
}
#cardContainer a {
	color: #0072CE !important;
}
#cardContainer:hover a {
	color: white !important;
}

#cardContainer #cardImg {
	object-fit: cover !important;
	height: 330px;
}

@media only screen and (max-width: 992px) {
	#cardContainer #cardImg {
		height: 270px;
	}
}